{
  "extends": ["airbnb"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/jsx-one-expression-per-line": [0],
    "implicit-arrow-linebreak": [0],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ]
  },
  "globals": {
    "localStorage": true,
    "fetch": true,
    "document": true,
    "it": true
  }
}
